/* Black Friday */
@media only screen and (max-width: 767px) {
  body.page-id-396 .entry-header,
  body.page-id-399 .entry-header,
  body.page-id-439 .entry-header {
    background: #000 url('inc/assets/images/black-friday-bg-banner-600w-800h.webp') no-repeat;
    height: 100%;
  }

  body.page-id-396 .entry-header h1,
  body.page-id-399 .entry-header h1,
  body.page-id-439 .entry-header h1 {
    margin:  2rem auto;
    font-size:  3.25rem;
    color: #fff;
  }

}

@media only screen and (min-width: 768px) and (max-width: 840px) {

  body.page-id-396 .entry-header,
  body.page-id-399 .entry-header,
  body.page-id-439 .entry-header {
    background: #000 url('inc/assets/images/black-friday-bannner-786px.gif') no-repeat;
    height:  197px;
  }

  body.page-id-396 .entry-header h1,
  body.page-id-399 .entry-header h1,
  body.page-id-439 .entry-header h1 {
    display: none
  }

}

@media only screen and (min-width: 841px) and (max-width: 1023px) {

  body.page-id-396 .entry-header,
  body.page-id-399 .entry-header,
  body.page-id-439 .entry-header {
    background: #000 url('inc/assets/images/black-friday-bannner-960px.gif') no-repeat;
    height:  240px;
  }

  body.page-id-396 .entry-header h1,
  body.page-id-399 .entry-header h1,
  body.page-id-439 .entry-header h1 {
    display: none
  }

}

@media only screen and (min-width: 1024px) {

  body.page-id-396 .entry-header,
  body.page-id-399 .entry-header,
  body.page-id-439 .entry-header {
    height: 396px;
    background: #000 url('inc/assets/images/black-friday-banner.gif') no-repeat;
  }

  body.page-id-396 .entry-header h1,
  body.page-id-399 .entry-header h1,
  body.page-id-439 .entry-header h1 {
    display: none;
  }

}
