/* Cyber Monday */
@media only screen and (max-width: 767px) {
  body.page-id-568 .entry-header,
  body.page-id-480 .entry-header,
  body.page-id-605 .entry-header {
    background: #000 url('inc/assets/images/cyber-monday-banner-767w-725h.webp') no-repeat;
    height: 100%;
  }

  body.page-id-568 .entry-header h1,
  body.page-id-480 .entry-header h1,
  body.page-id-605 .entry-header h1 {
    margin:  2rem auto;
    font-size:  3.25rem;
    color: #fff;
  }

}

@media only screen and (min-width: 768px) and (max-width: 840px) {

  body.page-id-568 .entry-header,
  body.page-id-480 .entry-header,
  body.page-id-605 .entry-header {
    background: #000 url('inc/assets/images/cyber-monday-banner-786px.gif') no-repeat;
    height:  140px;
  }

  body.page-id-568 .entry-header h1,
  body.page-id-480 .entry-header h1,
  body.page-id-605 .entry-header h1 {
    display: none
  }

}

@media only screen and (min-width: 841px) and (max-width: 1023px) {

  body.page-id-568 .entry-header,
  body.page-id-480 .entry-header,
  body.page-id-605 .entry-header {
    background: #000 url('inc/assets/images/cyber-monday-banner-960px.gif') no-repeat;
    height:  175px;
  }

  body.page-id-568 .entry-header h1,
  body.page-id-480 .entry-header h1,
  body.page-id-605 .entry-header h1 {
    display: none
  }

}

@media only screen and (min-width: 1024px) {

  body.page-id-568 .entry-header,
  body.page-id-480 .entry-header,
  body.page-id-605 .entry-header {
    height: 350px;
    background: #000 url('inc/assets/images/cyber-monday-banner.gif') no-repeat;
  }

  body.page-id-568 .entry-header h1,
  body.page-id-480 .entry-header h1,
  body.page-id-605 .entry-header h1 {
    display: none;
  }

}
/* end Cyber Monday */
