/* advent calendar */
.grid-1 {
  display:  grid;
  width: 96%;
  max-width: 1280px;
  margin: 2% auto;
  padding:  2rem;
  background: url(../../../../inc/assets/images/advent/12days-background-massive.jpg) no-repeat top center #000;
  background-size: cover;
}

@media only screen and (max-width: 499px) { 
  .grid-1 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;    
    grid-template-areas:    "d1"
                            "d2"
                            "d3"
                            "d4"
                            "d5"
                            "d6"
                            "d7"
                            "d8"
                            "d9"
                            "d10"
                            "d11"
                            "d12"
                            "d12";
  }  

}

@media only screen and (min-width: 500px)  and (max-width: 766px) {
  .grid-1 {
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 15px;  
    grid-template-areas:    "d1       d2"
                            "d3       d3"
                            "d4       d5"
                            "d6       d7"
                            "d8       d9"
                            "d10      d11"
                            "d12      d12";

  } 
}

@media only screen and (min-width: 767px) {

  .grid-1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;    
    grid-template-areas:    "d1       d1       d2"
                            "d3       d3       d4"
                            "d5       d6       d7"
                            "d8       d10      d11"
                            "d12      d12      d12";
  }

}

@media only screen and (min-width: 960px) {
  .grid-1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 25px;    
    grid-template-areas:    "d1       d2       d3       d3"
                            "d4       d5       d6       d7"
                            "d8       d9       d10      d10"
                            "d11      d12      d12      d12";
  }
}

/* individual items */ 


.day-1 {
grid-area: d1;
}

.day-1 .back-img {
  background: url(../../../../inc/assets/images/advent/1-Dec13.jpg)  no-repeat center top;
}

.day-2 {
  grid-area: d2;
}

.day-2 .back-img {
  background: url(../../../../inc/assets/images/advent/2-Dec14.jpg)  no-repeat center top;
}

.day-3 {
  grid-area: d3;
}

.day-3 .back-img {
  background: url(../../../../inc/assets/images/advent/3-Dec15BIG.jpg)  no-repeat center top;
}

.day-4 {
  grid-area: d4;
}

.day-4 .back-img {
  background: url(../../../../inc/assets/images/advent/4-Dec16.jpg)  no-repeat center top;
}

.day-5 {
  grid-area: d5;
}

.day-5 .back-img {
  background: url(../../../../inc/assets/images/advent/5-Dec17.jpg)  no-repeat center top;
}

.day-6 {
  grid-area: d6;
}

.day-6 .back-img {
  background: url(../../../../inc/assets/images/advent/6-Dec18.jpg)  no-repeat center top;
}

.day-7 {
  grid-area: d7;
}

.day-7 .back-img {
  background: url(../../../../inc/assets/images/advent/7-Dec19.jpg)  no-repeat center top;
}

.day-8 {
  grid-area: d8;
}

.day-8 .back-img {
  background: url(../../../../inc/assets/images/advent/8-Dec20.jpg)  no-repeat center top;
}

.day-9 {
  grid-area: d9;
}

.day-9 .back-img {
  background: url(../../../../inc/assets/images/advent/9-Dec21.jpg)  no-repeat center top;
}

.day-10 {
  grid-area: d10;
}

.day-10 .back-img {
  background: url(../../../../inc/assets/images/advent/10-Dec22.jpg)  no-repeat center top;
}

.day-11 {
  grid-area: d11;
}

.day-11 .back-img {
  background: url(../../../../inc/assets/images/advent/11-Dec23.jpg)  no-repeat center top;
}

.day-12 {
  grid-area: d12;
}

.day-12 .back-img {
  background: url(../../../../inc/assets/images/advent/12-Dec24.jpg)  no-repeat center top;
}

@media only screen and (min-width: 500px) {

  .day-1 .back-img {
    background: url(../../../../inc/assets/images/advent/1-Dec13-biggly.jpg)  no-repeat center top;
    background-size: cover !important;

  }

  .day-3 .back-img {
    background: url(../../../../inc/assets/images/advent/3-Dec15-biggly.jpg)  no-repeat center top;
    background-size: cover !important;  
  }

  .day-12 .back-img {
    background: url(../../../../inc/assets/images/advent/12-Dec24-biggly.jpg)  no-repeat center top;
    background-size: cover !important;
  }
}

/* door styles */
.grid-1 input {
  display: none;
}

#dank label {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;
  display: flex;
  min-height: 100%;
  width: 100%;
  min-height:  450px;
}

.door {
  width: 100%;
  transform-style: preserve-3d;
  transition: all 300ms;
  border: 2px dashed var(--white);
  border-radius: 10px;
}

.door div {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: var(--font-fam-lob2);
  color: green;
  font-size: 5rem;
  font-weight: var(--fweight-bold);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.door .back {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  transform: rotateY(180deg);
}

.door .back-img {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: cover;
}

@media only screen and (max-width: 499px) {

  #back-3 .back-text {
    height: 70%;
  }

}

.door .back-text {
  height: 45%;
  background-color: var(--brand-light-grey);
  border-radius: 0 0 6px 6px;
  position: absolute;
  bottom: 0;
  opacity: 70%;
}

.back-text h5 {
  position: absolute;
  top: 0;
  margin: 1rem 0 .5rem 0;
  padding: 0;
  font-weight: var(--fweight-bolder);
  font-size:  1.5rem;
  color:  green;
  text-align: center;
}

.back-text p {
  position: absolute;
  top:  30px;
  margin: 1rem;
  padding: 0;
  font-family: var(--font-fam); 
  font-weight:  var(--fweight-bolder);
  font-size: 1rem;
  text-align: center;
  line-height: var(--lheight-reg);
  color: red;
}

@media only screen and (max-width: 499px) { 

  .back-text h5 {
    font-size:  1.75rem;
  }

  .back-text p {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 350px) { 
  
  .back-text h5 {
    font-size:  1.5rem;
  }

  .back-text p {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 500px)  and (max-width: 959px) {

  .back-text h5 {
    font-size:  1.5rem;
  }

  .back-text p {
    font-size: 1.15rem;
  }

}

label:hover .door {
  border-color: var(--brand-light-grey); 
}

:checked + .door {
  transform: rotateY(180deg);
}
/* end advent cal*/
/* 12 Days of  Dankmas */
.dankmas {
  margin: 1rem auto;
  font-family: var(--font-fam-lob2);
  color: gold;  
  text-shadow: -3px 2px #222;
  font-size: 3rem;
}

@media only screen and (max-width: 959px) {

  .dankmas {
    font-size:  2.5rem;
  }

}

.dankmas:hover {
  color: var(--white);
  text-decoration: none;
} 

.description p {
  width:  75%;
  margin: 1rem auto;
  font-family: var(--font-fam-lob2);
  text-align: center;
  font-size: 1.35rem;
}

.red {
  color: red;
}
@media only screen and (max-width: 499px) { 

  .dankmas {
    font-size: 2.5rem;
  }

}

body.page-id-579 .entry-header h1,
body.page-id-492 .entry-header h1,
body.page-id-613 .entry-header h1 {
  margin: auto;
  font-family: var(--font-fam-lob2);
  color: gold;
  text-shadow: -3px 2px #222;
}

@media only screen and (max-width: 767px) {
  body.page-id-579 .entry-header,
  body.page-id-492 .entry-header,
  body.page-id-613 .entry-header {
    background: #000 url('../../../../inc/assets/images/12days-mobile-banner.jpg') no-repeat;
    height: 100%;
  }

  body.page-id-579 entry-header h1,
  body.page-id-492 .entry-header h1,
  body.page-id-613 .entry-header h1 {
    font-size:  3rem;
  }

}

@media only screen and (min-width: 768px) and (max-width: 840px) {

  body.page-id-579 .entry-header,
  body.page-id-492 .entry-header,
  body.page-id-613 .entry-header {
    background: #000 url('../../../../inc/assets/images/12days-banner-840w.jpg') no-repeat;
    height:  153px;
  }

  body.page-id-579 .entry-header h1,
  body.page-id-492 .entry-header h1,
  body.page-id-613 .entry-header h1 {
    font-size:  3.5rem;
  }

}

@media only screen and (min-width: 841px) and (max-width: 1023px) {

  body.page-id-579 .entry-header,
  body.page-id-492 .entry-header,
  body.page-id-613 .entry-header {
    background: #000 url('../../../../inc/assets/images/12days-banner-10230w.jpg') no-repeat;
    height:  186px;
  }

  body.page-id-579 .entry-header h1,
  body.page-id-492 .entry-header h1,
  body.page-id-613 .entry-header h1 {
    font-size:  4rem;
  }

}

@media only screen and (min-width: 1024px) {

  body.page-id-579 .entry-header,
  body.page-id-492 .entry-header,
  body.page-id-613 .entry-header {
    height: 225px;
    background: #000 url('../../../../inc/assets/images/12days-banner-1920w-225h.jpg') no-repeat;
  }

  body.page-id-568 .entry-header h1,
  body.page-id-480 .entry-header h1,
  body.page-id-613 .entry-header h1 {
    font-size:  5rem;
  }

}
/* end 12 Days of Dankmas */
