/*
AGE GATE
*/

.age-gate-form {
  background-color: transparent;

}
h1.age-gate-heading {
  display: none;
}

p.age-gate-challenge {
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #fff;
}

.age-gate-remember {
  color: #fff;
}

.age-gate-submit-yes,
.age-gate-submit-no {
  display: inline-block;
  font-weight: 800;
  color: #fff;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 3px solid #fff;
  padding: .5rem 3rem;
  font-size: 1.75rem;
  line-height: 1.5;
  border-radius: .6rem;
}
