/*
BLOG
*/

.blog .widgettitle {
  font-size: 1.15rem;
}

.readmore-btn {
  margin-bottom: 2rem;
}

.pagination {
  justify-content: center;
  margin: 20px auto;
}

.page-link {
  color: var(--brand-green);
}

.page-link:hover {
  color: var(--brand-dark-grey);
}

.page-item.active .page-link {
  color: var(--brand-light-blue);
  background-color: var(--brand-green);
  border-color: var(--brand-green);
}

.alert-info {
  color: var(--brand-dark-grey);
  background-color: var(--brand-green);
  border-color: var(--brand-light-blue);
}

.cat-links {
  font-weight: var(--fweight-reg);
}

.blog-sidebar ul li {
  list-style-position: inside;
  list-style-type: none;
  margin: .75rem 0;
  padding: 0 0 0 2rem;
  background-size: 1.25rem;
  background-image: url('../../../../inc/assets/images/emoji2.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

h1.entry-title {
  font-size: 1.75rem;
}

article.reviews .entry-header {
  padding: 0;
}

article.reviews h1.title {
  text-align: left;
  color: var(--brand-dark-grey);
}

/* hide the title on the Westword widget */
div#WWAG h2.widgettitle {
  display: none;
}

.not-found .search-form {
  margin-bottom: 3rem;
}

article.post header.entry-header {
  padding: 0;
}

article.post header.entry-header h1 {
  text-align: left;
  color: #2d2545;
}

article.post header.entry-header h1.entry-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  border-bottom: none;
}

/* for sticky posts */
.sticky {
  padding: 1rem;
  border: 1px solid var(--brand-dark-grey);
  background-color: var(--brand-light-blue);
}

.blog-sidebar {
  margin-top: 2rem;
}
