/*
HOME PAGE CAROUSEL/MOBILE BANNER
*/

.carousel-caption {
  bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.carousel-text h1 {
  display: none;
}

.carousel-text p.lead {
  margin-bottom: .2rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 100%;
  color: var(--white);
}

.carousel-text p.lead-dark {
  color: var(--brand-dark-grey) !important;
}
 
.carousel-text p.cta {
  margin-bottom: .2rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  color: var(--brand-green);
}

.carousel-text p.cta {
  margin-bottom: .2rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.bud-burst .carousel-text p.cta {
  color: #fff;
}

.carousel-text .rec-button {
  margin-right: .5rem;
}

.carousel-text .med-button {
  margin-left: .5rem;
}

/* rooster ad */
.rooster-caption {
 /* right: 20% !important;
  left: 20% !important;
  bottom: 40px;*/
}

#carousel-text .rooster-text {
  font-size: 2.5rem;
  text-shadow: -3px 2px #222425;
}

.rooster-link {
  text-decoration: underline;
}

.rooster-link:hover {
  color: var(--brand-light-blue);
  text-decoration: none;
}

@media only screen and (min-width: 370px) and (max-width: 961px) {
  .carousel-text p.lead {
    font-size: 1.35rem;
  }

  .carousel-text p.cta {
    font-size: 1.15rem;
  }

  .btn-lg {
    padding: .15rem .25rem;
  }
}

/* not showing the home mobile banner for smaller devices as we */
/* want to show the carousel to all devices */
#home-mobile-banner {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #home-mobile-banner {
    display: none;
  }
}

#home-mobile-banner {
  width: 100%;
  padding: 5px 15px;
  background: transparent url('../../../../inc/assets/images/leaves-closeup.webp') no-repeat;
}

#home-mobile-banner h2 {
  display: none;
}

#home-mobile-banner a.btn {
  width: 12rem;
  margin: 15px auto;
}

#home-mobile-banner .lead {
  margin: .5rem 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: var(--fweight-bold);
  color: var(--white);
}

#home-mobile-banner .cta {
  margin-bottom: .5rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: var(--fweight-bold);
  color: var(--brand-green);
}

@media only screen and (min-width: 250px) and (max-width: 360px){

   .carousel-item > img {
    width: 450% !important;
    height: 450% !important;
  }

   .carousel-text p.lead {
    margin: .5rem 0;
  }

}

@media only screen and (min-width: 361px) and (max-width: 479px){

   .carousel-item > img {
    width: 350% !important;
    height: 350% !important;
  }

}

@media only screen and (max-width: 480px) {

  .carousel-caption {
    top: 2%;
  }

  .carousel-text p.lead {
    margin: 1rem 0;
    font-size: 1.75rem;
  }

  .carousel-text p.cta {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .btn-lg {
    padding: .5rem .75rem;
  }

}

@media only screen and (min-width: 481px)  and (max-width: 767px) {

  .carousel-caption {
    top: 10%;
  }

  .carousel-item > img {
    width: 250% !important;
    height: 250% !important;
  }

  .carousel-text p.lead {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .carousel-text p.cta {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .btn-lg {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  #carousel-text .rooster-text {
    font-size: 2.75rem;
  }

}


@media only screen and (min-width: 768px)  and (max-width: 959px) {

  .carousel-caption {
    top: 2%;
  }

  .carousel-item > img {
    width: 115%;
    height: 115%;
  }
 
  .carousel-text p.lead {
    margin: .25rem 0;
    font-size: 2rem;
  }

  .carousel-text p.cta {
    margin: .25rem 0;
    font-size: 1.5rem;
  }

  .btn-lg {
    padding: .35rem .5rem;
  }

}

@media only screen and (max-width: 960px) {

  .carousel-item > img {
    max-width: inherit !important;
  }

  .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
  }

}

@media only screen and (min-width: 1024px) {
  .rooster-caption {
    bottom: 15px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1700px) {
  .rooster-caption {
    bottom: 30px;
  }
}

@media only screen and (min-width: 1701px) and (max-width: 3200px) {
  .rooster-caption {
    bottom: 75px;
  }
}
