/*
NAV
*/

header#masthead {
  padding-bottom: 5px;
  background-color: var(--white);
}

#masthead .jr-nav-container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  margin-right: 0;
  padding: .25rem .75rem .5rem .5rem;
}

.navbar-brand-img {
  width: 250px;
  min-width: 250px;
}
body:not(.theme-preset-active) #masthead .navbar-nav>li>a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--brand-dark-grey);
}

body:not(.theme-preset-active) #masthead .navbar-nav>li.current_page_item>a,
body:not(.theme-preset-active) #masthead .navbar-nav>li>a:hover {
  color: var(--brand-green);
}

body:not(.theme-preset-active) #masthead .navbar-nav>li.current_page_item>a {
  border-bottom: 3px solid var(--brand-green);
}

@media only screen and (max-width: 576px) {
  body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
    font-size: 1.5rem;
  }
}

/*
change the default and only have the burger show at sizes below 768px instead of 1120px
*/

@media only screen and (min-width: 768px) {
  .navbar-expand-xl .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #main-nav {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin: auto;   
  }      
}

/* Toggle comments here when adding/subtracting an item from the main nav */
/*@media only screen and (min-width: 768px) and (max-width: 916px) {

  .navbar-brand {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-brand-img {
    width: 165px;
    min-width: 150px;
  }

  .navbar-brand > a {
    font-size: .9rem;
  }

  body:not(.theme-preset-active) #masthead .navbar-nav > li > a {
    font-size: .9rem;
  }

}*/
/* end nav */
