/* non-home page banners, headers */
.entry-header,
.entry-header-blog {
  padding: 4rem 0;
}

.entry-header h1,
.entry-header-blog h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3.5rem;
  color: var(--white);
}

.entry-header-blog {
  background: var(--brand-dark-grey) url('../../../../inc/assets/images/Trikes1920.webp') no-repeat;
}

.error404 .entry-header {
  background: var(--brand-dark-grey) url('../../../../inc/assets/images/Trikes1920-404err-r5.webp') no-repeat
}

#rec .entry-header,
#med .entry-header,
[id$="specials"] .entry-header {
  background: var(--brand-dark-grey) url('../../../../inc/assets/images/Trikes1920.webp') no-repeat;
}

#deals .entry-header,
.single-specials .entry-header {
  background: var(--brand-dark-grey) url('../../../../inc/assets/images/page-header-1920w-300h.webp') no-repeat;
}

#contact-us .entry-header {
  background: var(--brand-dark-grey) url('../../../../inc/assets/images/b&w-bud-1920.webp') no-repeat;
}

#rec .entry-header h1,
#med .entry-header h1,
#contact-us .entry-header h1 {
  color: var(--white);
}

h1.entry-title,
h2.entry-title {
  border-bottom: none;
}

/* no banner images for phones*/
@media screen and (max-width:576px) {
  
 body#rec .entry-header,
 body#med .entry-header,
 body#deals .entry-header,
 body#contact-us .entry-header
  {
    background: var(--brand-dark-grey) !important;
  } 

  body#contact-us .entry-header h1 {
  color: var(--white) !important;
  }

}
