/*
REC & MED MENU PAGES
*/

.coupon h4.online-step-numbers {
  margin: .75rem 0;
  font-size: 2.25rem;
}

.online-cta-text {
  margin-bottom: 0;
  padding-right: .5rem;
  padding-left: .5rem;
  font-size: 1.15rem;
  text-transform: uppercase;
  line-height: 125%;
  font-weight: 900;
}

.img-hand {
  margin: 0 auto;
}

.img-cart {
  margin: 10px auto;
}

.img-bag {
  margin: 20px auto;
}

.img-joint {
  margin: 40px auto;
}

.coupon .step1 {
  padding-top: .25rem;
}

.coupon .step2 {   
  padding-top: 2rem 
}

.coupon .step3 {
  padding-top: 1rem;
}

.coupon .step4 {
  padding-top: 1.25rem;
}

.btn-coupon {
  width: 90%;
}
