/*
BODY-LAYOUT
*/

#content.site-content {
  padding-top: 0;
  padding-bottom: 0;
}
/*
UTILITIES, BUTTONS & MODALS
*/

blockquote {
  border: none;
}

.highlight {
  font-weight: var(--fweight-bolder);
  color: var(--brand-green);
}

.dark-text {
  color: var(--brand-dark-grey);
}

.green-text {
  color: var(--brand-green);
}

.orange-text {
  color: var(--brand-orange);
}

.white-text {
  color: var(--white);
}

.light-blue-bg {
  background-color: #f2f8f1;
}

.very-dark-bg {
  background: var(--brand-dark-grey) url("../../../../inc/assets/images/leaf-dark-bg2-r2.png") no-repeat bottom right;
}

.white-bg {
  background-color: var(--white);
}

.green-bg {
  background-color: var(--brand-green);
}

.btn-primary {
  font-weight: var(--fweight-reg);
  background-color: var(--brand-green);
  border-color: var(--brand-green);
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: var(--white);
  border-color: var(--brand-green);
  color: var(--brand-dark-grey);
}

.btn-secondary {
  font-weight: 600;
  background-color: var(--brand-dark-grey);
  border-color: var(--brand-dark-grey);
}

.btn-lg {
  padding: .75rem 1.5rem;
  border-radius: .6rem;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: var(--btn-box-shadow-trans);
}

.btn-primary.focus, 
.btn-primary:focus {
    box-shadow: var(--btn-box-shadow-trans);
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
    color: var(--white);
    background-color: var(--brand-green);
    border-color: transparent;
}

@media only screen and (max-width: 576px) {
  .btn-group-lg > .btn, .btn-lg {
    font-size: 1.5rem;
  }
}
/* modal */
/* override Bootstrap's display: flex property on this element */
.modal-header {
  display: block;
  border-bottom: none;
}

@media only screen and (min-width: 960px) {
  .modal-dialog {
      max-width: 700px;
  }
}
