:root {
  --white: #fff;
  --brand-green: #80be79;
  --brand-dark-grey:  #2d3545;
  --brand-light-green: ;
  --brand-light-blue: #f2f8f1;
  --brand-light-grey: ;
  --brand-orange: #ff5810;

  --fweight-reg: 600;
  --fweight-bold: 700;

  --font-fam: "Muli", sans-serif;

  --btn-box-shadow-trans: 0 0 0 .2rem rgba(128,190,121,.5);
  --btn-box-shadow-opaque: 0 0 0 .2rem rgba(128,190,121);


  --tablet-min-width:  768px;
  --desktop-min-width:  960px;








}


.main-header {
  color: var(--main-color);
}
